@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Simcha Fund</h1>
    <p class="lead">Group Gifting - Simplified. Never deal with checking off a list again</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Add a Simcha</h2>
        <p>Input a new Simcha and add contributors. Balance will be deducted automatically</p>
        <p><a class="btn btn-danger" href="/simchos">Simchos &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Add a Contributor</h2>
        <p>Someone new joined the group? Add them in so they can start contributing.</p>
        <p><a class="btn btn-danger" href="/contributors">Contributors &raquo;</a></p>
    </div>
</div>